<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macqurarieinterns">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MacqurarieInterns">
        <activity android:name=".StudentEditProfileActivity"></activity>
        <activity android:name=".ReportVacancyInfluenceActivity" />
        <activity android:name=".ReportStudentInfluenceActivity" />
        <activity android:name=".ReportStudentRegistrationActivity" />
        <activity android:name=".ReportCompanyRegistrationActivity" />
        <activity android:name=".AdminJobCategoryActivity" />
        <activity android:name=".AdminCompanyRegisterRequestActivity" />
        <activity android:name=".AdminStudentActivity" />
        <activity android:name=".AdminCompanyActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".StudentInterviewActivity" />
        <activity android:name=".StudentApplyActivity" />
        <activity android:name=".JobInterviewCreateActivity" />
        <activity android:name=".JobMoreDetailsActivity" />
        <activity android:name=".JobInterviewActivity" />
        <activity android:name=".JobAppliersActivity" />
        <activity android:name=".JobCreateActivity" />
        <activity android:name=".PostCreateActivity" />
        <activity android:name=".CompanyEditProfileActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".StudentRegisterActivity" />
        <activity
            android:name=".StudentLoginActivity"
            android:parentActivityName=".StartActivity" />
        <activity android:name=".CompanyRegisterActivity" />
        <activity
            android:name=".CompanyLoginActivity"
            android:parentActivityName=".StartActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>